/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.parse-items-too-editor-item-box{
    width: 100%;
    background-color: #A9C9E0;
    border: 1px solid black;
    border-radius: 3px;
    padding: 4px;
    margin: 5px;
    display: flex;
}

.parse-items-too-editor-textblock{
    flex: 1 1 auto;
}

.parse-items-too-editor-imgblock{
    flex: 0 0 100px;
    max-height: 100px;
    overflow: hidden;
    border-radius: 3px;

}

.parse-items-too-editor-imgblock img{
  width: 100%;            /* make image fit the 100px column */
  height: 100%;
  object-fit: contain;        /* no distortion, full image visible */
  object-position: center;    /* center it */
  display: block;
  background-color: #FFFFFF;
}

.parse-items-too-editor-item-name{
    font-weight: bold;
}

.parse-items-too-editor-item-text{

}

.parse-items-too-items-table tr:nth-child(odd) td{
    background-color: #EEEEEE;
}
.parse-items-too-items-table tr:nth-child(even) td{
    background-color: #FFFFFF;
}

.parse-items-too-items-table {
    width: 100%;
}

.parse-items-too-item-name{
    font-size: 12px;
    font-weight: bold;
}

.parse-items-too-item-detail{
    font-size: 12px;
}

.parse-items-too-item-cell-button{
    text-align: center;
}

.parse-items-too-item-view{
    border: 1px, black;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.parse-items-too-search-bar{

}

.parse-items-too-my-item-view .parse-items-too-search-results{
    min-height: 0;
    overflow: auto; /* or overflow-y: auto; */
}
