/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/


.parse-items-too-items-table tr:nth-child(odd) td{
    background-color: #EEEEEE;
}
.parse-items-too-items-table tr:nth-child(even) td{
    background-color: #FFFFFF;
}

.parse-items-too-items-table {
    width: 100%;
}

.item-name{
    font-size: 12px;
    font-weight: bold;
}

.item-detail{
    font-size: 12px;
}

.item-cell-button{
    text-align: center;
}

.my-item-view{
    border: 1px, black;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.search-bar{

}

.my-item-view .search-results{
    min-height: 0;
    overflow: auto; /* or overflow-y: auto; */
}
