/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/


table tr:nth-child(odd) td{
    background-color: #EEEEEE;
}
table tr:nth-child(even) td{
    background-color: #FFFFFF;
}

table {
    width: 100%;
}

.item-name{
    font-size: 12px;
    font-weight: bold;
}

.item-detail{
    font-size: 12px;
}

.item-search{
    border: 1px, black;
}
